.header{
    top: 0;
    left: 0;
    width: 100%;
    background: #1e1e2a;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding: 20px 0;
}

.navbar_wrapper{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

@media(max-width: 1023px){
    .navbar_wrapper {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background: #1e1e2a;
        position: fixed;
        z-index: 10;
        padding: 10px 20px;
        width: 100%;
        transform: translateY(0);
    }
}
